<h1> Registro Usuario </h1>
<form method ="post" action="/usuario/guardar">
    <input tpe="text" name="username" placeholder="ingrese su username"> <br>
    <input type="name" name="password" placeholder ="ingrese su contraseña"><br>
    <input tpe="text" name="nombres" placeholder="ingrese sus nombres"> <br>
    <input tpe="text" name="apellidos" placeholder="ingrese sus apellidos"> <br>
    <select>
        <option value="estudiante">estudiante</option>
        <option value="profesor">profesor</option>
    </select>
    <input type="submit" value="registrar">
</form> 