<h1>Registro Usuario</h1>
<form method="post" action="/usuario/guardar">
    <input type="text" name="email" placeholder="Ingrese su correo"><br>
    <input type="password" name="password" placeholder="Ingrese se contraseña"><br>
    <input type="text" name="username" placeholder="Ingrese se usuario"><br>
    <input type="text" name="nombres" placeholder="Ingrese sus nombres"><br>
    <input type="text" name="apellidos" placeholder="Ingrese sus apellidos"><br>
    <input type="text" name="tipo" placeholder="Ingrese su tipo"><br>
    <input type="text" name="id_escuela" placeholder="Ingrese su id"><br>
    <input type="submit" value="Registrar">
</form>